@import "tailwindcss";

.home-bg-container{
  background: linear-gradient(rgba(255,255,255,0.5), rgba(0,0,0,0.5)), url("/landing_image.webp");
  background-position: center;
  background-size: cover;
}

button {
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0px);
}

.rtl-text {
  direction: rtl;
  text-align: right;
}

/* use these theme classes after redux integration */
.light-theme {
  color: #1d1d1d;
  background-color: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  .light-theme.adaptive {
    color: #f2f2f2;
    background-color: #1d1d1d;
  }
}
